@model IEnumerable<WebApp.Entities.Concrete.Property>

<h2>Properties</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Price Per Night</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {                                           //https://lh3.googleusercontent.com/p/AF1QipNP-x33P7I_Mwdsvx_LJC6Fs-e5DdGNt-ST4lyC=s680-w680-h510
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Location</td>
                <td>@item.PricePerNight</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

